body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    cursor: pointer;
    margin-top: -100px; /* Déplacez l'image et les éléments vers le haut */
}

.click-me {
    position: absolute;
    font-family: 'Comic Sans MS', 'Chalkboard', sans-serif;
    color: #ff0000;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    top: 50%;
    transform: translateY(-50%);
}


.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px; /* Agrandir l'espacement entre les boutons */
}

.custom-button {
    padding: 20px 30px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #367C39; /* Bordure ajoutée */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour les effets */

    background-image: url('PR7.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Effet d'ombre portée */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    background-color: #367C39;
    border-color: #2e5c2e; /* Changement de couleur de la bordure */
    transform: translateY(-2px); /* Effet de soulèvement */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: translateY(1px); /* Effet enfoncé lors du clic */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.image-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; /* Espace pour les boutons sous l'image */
}


.effet-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.2s;
}

.effet-image:active {
    transform: scale(0.9);
    opacity: 0.7;
}

.arrow {
    position: absolute;
    color: #ff0000;
    font-size: 300px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url('gif.gif') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    opacity: 0.7;
    animation: fall 4s linear forwards;
}

.sui-text {
    position: absolute;
    font-size: 2em;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Contour noir autour du texte */
    /* Ajoutez d'autres styles pour le texte ici si nécessaire */
}

@keyframes fall {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}
