body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 255, 0, 0.1), rgba(0, 0, 0, 0));
    z-index: -1;
    mix-blend-mode: screen;
    animation: glitch-background 3s infinite;
}

@keyframes glitch-background {
    0%, 100% {
        transform: translate(0);
        opacity: 0.75;
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-5px, 5px);
        opacity: 0.7;
    }
    20%, 40%, 60%, 80% {
        transform: translate(5px, -5px);
        opacity: 0.8;
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #0f0;
    box-shadow: 0 0 10px 1px #0f0;
	animation: shake 1.5s ease-in-out infinite;
}

.glitch {
    font-size: 60px;
    position: relative;
    color: #0f0;
    text-shadow: 0 0 5px #0f0;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: glitch-animation 1s infinite linear;
}

.glitch:hover {
    animation: glitch-animation-hover 1s infinite linear;
}

@keyframes glitch-animation-hover {
    0%, 100% {
        transform: translate(2px, 2px) rotate(0deg);
        text-shadow: 0 0 10px #0f0, 0 0 20px #0f0;
    }
    25%, 75% {
        transform: translate(-2px, -2px) rotate(0deg);
        text-shadow: 0 0 10px #f00, 0 0 20px #f00;
    }
    50% {
        transform: translate(0, 0) rotate(5deg);
        text-shadow: 0 0 10px #00f, 0 0 20px #00f;
    }
}

.subtitle {
    color: #0f0;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #0f0;
}

.buttons {
    margin-top: 30px;
}

.glitch-btn {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: 0 0 5px #0f0;
    margin: 0 10px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    animation: pulse 2s infinite alternate;
}

.glitch-btn:hover, .glitch-btn:focus {
    background-color: #222;
    border-color: #0ff;
    color: #0ff;
    box-shadow: 0 0 10px #0f0;
    transform: translateY(-2px);
	outline: none;
}

.glitch-btn a, .glitch-btn a:visited, .glitch-btn a:hover, .glitch-btn a:active, .glitch-btn a:focus {
    color: inherit; /* Utiliser la même couleur que le texte du bouton */
    text-decoration: none; /* Supprimer le soulignement */
}

/* Styles optionnels pour les états de survol et de focus */
.glitch-btn a:hover {
    color: #fff; /* Change la couleur au survol, ajustez selon vos besoins */
}

.glitch-btn a:focus {
    outline: none; /* Supprimer l'outline par défaut pour l'état focus */
    /* Ajoutez ici d'autres styles pour l'état focus si nécessaire */
}

.glitch-btn:active {
    animation: glitch-click-animation 500ms forwards;
}

#background-percentages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* En arrière-plan */
    overflow: hidden;
}

.percentage {
    position: absolute;
    font-size: 2em;
    text-shadow: 0 0 5px;
    animation: fadeInOut 5s ease-in-out;
    opacity: 0; /* Commencer invisible */
}

.contract-text {
    position: fixed;
    bottom: 280px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #fff;
    text-shadow:
        0 0 5px #f00,
        0 0 10px #f00,
        0 0 15px #f00,
        0 0 20px #0f0,
        0 0 25px #0f0,
        0 0 30px #00f,
        0 0 35px #00f;
    animation: color-change 2s linear infinite;
}

@keyframes color-change {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: white; }
    100% { color: red; }
}

@keyframes neon-animation {
    from {
        text-shadow:
            0 0 5px #f00, /* Rouge */
            0 0 10px #f00, /* Rouge */
            0 0 15px #f00, /* Rouge */
            0 0 20px #0f0, /* Vert */
            0 0 25px #0f0, /* Vert */
            0 0 30px #00f, /* Bleu */
            0 0 35px #00f; /* Bleu */
    }
    to {
        text-shadow:
            0 0 10px #f00, /* Rouge */
            0 0 20px #f00, /* Rouge */
            0 0 30px #f00, /* Rouge */
            0 0 40px #0f0, /* Vert */
            0 0 50px #0f0, /* Vert */
            0 0 60px #00f, /* Bleu */
            0 0 70px #00f; /* Bleu */
    }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes glitch-click-animation {
    0%, 100% {
        text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
        transform: scale(1.1);
    }
    10%, 30%, 50%, 70%, 90% {
        text-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00, 0 0 20px #f00;
        transform: scale(0.9) rotate(5deg);
    }
    20%, 40%, 60%, 80% {
        text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 15px #00f, 0 0 20px #00f;
        transform: scale(1.1) rotate(-5deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px #0f0;
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0 0 20px #0f0, 0 0 30px #0f0;
    }
}

@keyframes shake {
    0%, 100% {
        transform: translate(-50%, -50%) translate(0, 0);
    }
    10% {
        transform: translate(-50%, -50%) translate(-5px, -5px);
    }
    20% {
        transform: translate(-50%, -50%) translate(5px, 5px);
    }
    30% {
        transform: translate(-50%, -50%) translate(-5px, 5px);
    }
    40% {
        transform: translate(-50%, -50%) translate(5px, -5px);
    }
    50% {
        transform: translate(-50%, -50%) translate(-5px, -5px);
    }
    60% {
        transform: translate(-50%, -50%) translate(5px, 5px);
    }
    70% {
        transform: translate(-50%, -50%) translate(-5px, 5px);
    }
    80% {
        transform: translate(-50%, -50%) translate(5px, -5px);
    }
    90% {
        transform: translate(-50%, -50%) translate(-5px, -5px);
    }
}